<center>
<% @trivia_questions.each_with_index do |question, index| %>
    <h3>Question <%= index + 1 %>: <%= question.question %></h3>
    <div id='trivia_answers'>
      <% question.answers.each do |answer| %>
      <p><%= answer %></p>
    <% end %>
  </div>
<% end %>
</center>
