<%= stylesheet_link_tag 'background' %>

<div id='test'>

<% if !current_user %>
  <div id='google_signin'>
    <%= link_to 'Sign Up/Sign In with Google', 'auth/google_oauth2', method: :get %>
  </div>
<% end %>
  <div id='play'>
    <%= button_to 'Play', 'auth/google_oauth2', method: :get %>
  </div>
</div>
