<br>
<br>
<br>

<h1>Browse Charities</h1>

<br>
<br>

<center>

<button id='button-charity-links' type='button'>
  <%= link_to 'Animal Charities', '/charities/animals', method: :get %>
</button>

<button id='button-charity-links' type='button'>
  <%= link_to 'Wildlife Charities', '/charities/wildlife', method: :get %>
</button>

</center>
