<h1>Charity Dashboard</h1>

<p><%= button_to "Animal Charities", charity_index_path, local: true, params: {q: "animals"}, method: :get %></p>
<p><%= button_to "Wildlife Charities", charity_index_path, local: true, params: {q: "wildlife"}, method: :get %></p>