/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* body {
  background: url('CritterismBackground.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
} */

#google_signin {
    position: fixed;
    text-align: center;
    bottom: 15%;
    left: 45%;
    background-color: #00adb5;
    padding: 8px;
    /* margin-left: -104.5px; */
    border-radius: 50px;
    border-style: outset;
    border-collapse: collapse;
    width: 160px
}

#google_signin a:link, #google_signin a:visited, #google_signin a:hover, #google_signin a:active {
  text-decoration: none
}

#google_signin a {
  color: #22252a;
  font-family: sans-serif
}

#test {
  height:auto;
}
