/*
*= require_tree .
*= require_self
*/

h1 {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 100vw;
  height: 70vh;
}

.grid-container {
  display: flex;
  grid-column-gap: 10px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  width: 15vw;
}

.grid-item {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 3vw;
  flex-direction: column;
}

.name {
  font-size: 1vw;
  align-items: center;
  color: #22252a;
  text-align: center;
}

.logo {
  padding: 10px;
}

img {
  height: 5vw;
  width: 5vw;
}

button {
  background-color: #00adb5;
  color: #ffffff;
}